@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');
@font-face {
    font-family: neu;
    src: url(assets/NeueHaasDisplay-Roman.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: #efeae3;
}
.page1{
    min-height: 100vh;
    width: 100%;
    background-color: #efeae3;
    position: relative;
    padding: 0 2vw;
}
nav{
     padding: 2vw 0vw;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.nav-part2{
    display: flex;
    align-items: center;
    gap: 1vw;
}
.nav-part2 h4{
    position: relative;
    padding: 10px 20px;
    border: 1px solid #0000008e;
    border-radius: 50px;
    font-weight: 500;
    color: #000000cd;
    transition: all ease 0.4s;
    font-size: 18px;
    overflow: hidden;
}
.nav-part2 h4 a{
    text-decoration: none;
    color: #000000cd;
    position: relative;
    z-index: 9;
}
.nav-part2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}
.nav-part2 h4:hover::after{
    bottom: 0;
    border-radius: 0;
}
.nav-part2 h4:hover a{
    color: white;
}
.center{
    height: 65vh;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 2.5vw;
}
.center h3{
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}
.center h1{
    font-size: 10vw;
    line-height: 8vw;
    text-align: right;
}
.page1 video{
    width: 100%;
    border-radius: 30px;
    margin-top: 4vw;
    position: relative;
    z-index: 99;
}
.hero-shape{
    position: absolute;
    height: 36vw;
    width: 46vw;
    
    right: 0;
    top: 69vh;
   
}
.shape-1{
    height: 100%;
    width: 100%;
    background-color: #fe320a;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
     filter: blur(10px);
     position:absolute;
}
.shape-2{
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#fe320a, #fe4f0a);
    border-radius: 50%;
     filter: blur(25px);
     position:absolute;
     animation: anim2 5s linear alternate infinite ;
}
.shape-3{
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#fe320a, #fe4f0a);
border-radius: 50%;
     filter: blur(25px);
     position:absolute;
     animation: anim1 5s linear alternate infinite ;
}
@keyframes anim1 {
    from{
        transform: translate(55%, -3%);
    }
    to{
        transform:translate(0%, 10%);
    }
}
@keyframes anim2 {
    from{
        transform: translate(5%, -5%);
    }
    to{
        transform:translate(-20%, 50%);
    }
}
.page2{
    min-height: 100vh;
    width: 100%;
    background-color: #efeae3;
    padding: 6vw 0;
    position: relative;
}
.moving-text{
    white-space: nowrap;
    overflow-x: auto;
}
.moving-text::-webkit-scrollbar{
    display: none;
}
.con{
    white-space: nowrap;
    display: inline-block;
    animation: movTex 10s 0s infinite linear ;
}
.moving-text h1{
    font-size: 9vw;
    /* background-color: lightblue; */
    display: inline-block;

}
.circle{
    height: 70px;
    width: 70px;
    background-color: #fe320a;
    border-radius: 50%;
    display: inline-block;
    margin: 1vw 2vw;
}   
@keyframes movTex {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }

}
.page2-bottom{
height: 80vh;
width: 100%;
/* background-color: aliceblue; */
display: flex;
align-items: center;
justify-content: space-between;
padding: 4.5vw;
margin-top: 4.5vw;

}
.page2-bottom h1{
    font-size: 4vw;
    width: 60%;
    line-height: 4vw;
    font-weight:bold;
    z-index: 99;
}
.bottom-pt2{
    /* background-color: aqua; */
    margin-top: 10vw;
    width: 20%;
}
.bottom-pt2 img{
    width: 100%;
    border-radius: 15px;
}
.bottom-pt2 p{
    width: 100%;
    margin-top: 2vw;
}
.hero-shape2{
    height: 32vw;
    width: 32vw;
    background: linear-gradient(to top right,#fe320a, #f7770d);
    border-radius: 50%;
    position: absolute;
    top: 60%;
    left: 30%;
    filter: blur(20px);
    animation: circleAnimation2 6s linear 0s infinite alternate;
    pointer-events: none;
}

@keyframes circleAnimation2 {
    from{
    filter: blur(20px);
        transform: translate(10%, -10%) skew(0);
    }
    to{
    filter: blur(30px);

        transform:translate(-10%, 10%) skew(-12deg);
    }
}
.page3{
    min-height: 100vh;
    width: 100%;
    background-color: #efeae3;
    padding: 4vw 0;
    
}
.elem{
    height: 150px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.408);
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.elem h2{
    font-size: 3vw;
    padding: 0 2vw;
    position: relative;
    z-index: 9;
}
.elem .overlay{
    height: 100%;
    width: 100%;
    background-color: #ff9831;
    position: absolute;
    left: 0;
    top: -100%;
    transition: .2s all ease-out;
    
}
.elem:hover .overlay{
    top: 0;
}
.fixed-image{
    height: 30vw;
    width: 24vw;
    /* background-color: red; */
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 25%;
    border-radius: 15px;
    overflow: hidden;
    display: none;
    background-size: cover;
    background-position: center;
}
.feat-circ{
    height: 10px;
    width: 10px;
    background-color: #fe320a;
    border-radius: 50%;
}
.feat-proj{
    /* background-color: aqua; */
    margin: 1vw 3vw;
    width: 12vw;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    gap:.5vw;
}
.feat-proj h3{
     font-size: 1vw;
     font-weight: 200;
}
.page4{
    height: 100vh;
    width: 100%;
    background-color: #efeae3;
    margin-top: -3%;
}
.dpe-container{
    height: 100%;
    margin: 2vw auto;
    border-radius: 20px;
    width: 90%;
    background-color: #000000;
    display: flex;
    align-items: center;
}
.cont-p1{
    color: white;
    width: 40vw;
    /* height: 100%; */
    /* background-color: rgb(255, 0, 238); */
    /* display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; */
    /* text-align: center; */
    padding-left: 10vw;
}
.cont-p1 .h1-cont{
    font-size: 2.5vw;
    border-left: 1px solid white;
}
.cont-p1 p{
    margin-top: 1vw;
}
.heading.active{
    margin-left: 0;
    color: white;
}
.cont-p1:nth-child(2){
    margin-left: 2vw;
}
.cont-p2{
    height: 100%;
    
    width: 60%;
    border-radius: 20px;
    background-color:black;
}
.heading {
    color: #504a45;
    margin-left: 60px;
    cursor: pointer;
    transition: all .4s ease;
}
.cont-p2 img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    /* width: fit-content; */
}
.page5{
    height: 60vh;
    width: 100%;
    background-color: #fe320a;
}
main{
    background-color: black;
}
.page6{
    height: 100vh;
    width: 100%;
}